/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.p-m-0 {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-command {
    justify-content: center;
    align-items: center;
}

.description-color {
    color: rgba(14, 14, 14, 0.7);
}

.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px
}

.section-description {

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



/* banner style  ----------------------------------*/

nav {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

.nav-btn {
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background: white;
}

.banner-container {
    gap: 54px;
    padding: 80px;
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    margin-top: 30px;
}


.bd {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin: 20px 0;
}

.banner-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* vision of future section style  *******************************************/
.vision-container{
    margin-top: 80px;
}
.vision-content {
   gap: 32px;
   margin-top: 32px;
}

.vision-card{
    padding: 32px;
    border-radius: 16px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 30px;
}

.card-des {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.vision-btn {
    border-radius: 8px;
    padding: 11px 20px;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.digital-btn{
    background: #5490F5;
}
.energy-btn{
    background: #09A15C;
}

.modern-btn{
    background: #FFC239;
}
.digital {
    background: rgba(84, 144, 245, 0.2);
}

.energy{
    background:#C6E4D6;
}

.modern{
    background: #F7EBCF;
}


/* quot container ------------------- */

